<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProvImageMarkup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <ProvImageMarkup.Properties.Settings>
            <setting name="defDbPath" serializeAs="String">
                <value>c:\Users\OBogdan\Documents\Visual Studio 2015\Projects\ProvImageMarkup\</value>
            </setting>
            <setting name="defCur" serializeAs="String">
                <value>Test/10000/книга учета №-3</value>
            </setting>
            <setting name="defReplace" serializeAs="String">
                <value>\\terminalsrv-sav\ORT\OI\2016\12\29\images\КП038Б-1С1\ORIG\Передача_001_КП038Б-1С1\книга учета №-3</value>
            </setting>
            <setting name="defcolname" serializeAs="String">
                <value>FilePath</value>
            </setting>
            <setting name="defColor" serializeAs="String">
                <value>Khaki</value>
            </setting>
            <setting name="defBorder" serializeAs="String">
                <value>10.0</value>
            </setting>
            <setting name="defTextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="defFont" serializeAs="String">
                <value>Arial Black, 20.25pt, style=Bold</value>
            </setting>
            <setting name="defOtst" serializeAs="String">
                <value>10</value>
            </setting>
        </ProvImageMarkup.Properties.Settings>
    </userSettings>
</configuration>
